* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    /* color: #666; */
    border: none;
    font-size: 14px;
    transition-duration: 0.35s;
}

:root {
    --color: #1173f8;
    --bg: #f1f3f5;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
    /* overflow: hidden; */
}

.container {
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.header {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #666;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 50px rgba(17, 113, 248, 0.2);
}
.user_name {
    font-size: 17px;
}
.user_icon {
    --size: 30px;
    height: var(--size);
    width: var(--size);
}
.noUsers {
    font-size: 17px;
    margin-left: 20px;
    background: rgb(8, 206, 196);
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages {
    width: 95%;
    padding: 0px 10px;
    margin-top: auto;
    overflow: hidden;
    overflow-y: auto;
}
.messages::-webkit-scrollbar {
    display: none;
}

.message {
    width: 100%;
    margin: 14px 0px;
    animation: showMsg 0.5s linear forwards;
}

@keyframes showMsg {
    from {
        opacity: 0;
        transform: translateY(2px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.message.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}
.message_text.bot {
    background: rgba(255, 141, 175, 0.377);
    color: #555;
    width: 80%;
    text-align: center;
    border-radius: 15px;
}

.message.right.time {
    text-align: right;
}
.message.left.time {
    text-align: left;
}
.user {
    font-size: 10px;
    margin-bottom: 3px;
    color: #666;
    margin-left: 10px;
}
.time {
    font-size: 10px;
    margin-top: 3px;
    color: #666;
}
.message_text {
    height: fit-content;
    max-width: 250px;
    width: fit-content;
    padding: 10px;
}
.message_text.me {
    background-color: var(--color);
    color: #fff;
    margin-left: auto;
    border-radius: 15px 15px 2px 15px;
}
.message_text.else {
    background-color: #fff;
    color: #666;
    margin-right: auto;
    border-radius: 15px 15px 15px 2px;
}

.file {
    background-color: var(--color);
    height: 70px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    border-radius: 10px 15px 0px 10px;
    margin-left: auto;
}
.file_icon {
    padding: 10px;
    background-color: #599af7;
    --size: 25px;
    height: var(--size);
    width: var(--size);
    border-radius: 10px;
}
.file_info {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
}
.file_download {
    --size: 30px;
    height: var(--size);
    width: var(--size);
}

.file_size {
    color: #ffffffb9;
    font-size: 12px;
    margin-top: 1px;
}

#form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: flex-end;
    width: 95%;
    background: #fff;
    height: 50px;
    min-height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#addFile {
    --size: 15px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    transition-duration: 0.35s;
}
#addFile:hover {
    transform: rotate(45deg);
}

#text {
    height: 30px;
    width: 70%;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}
#text::placeholder {
    color: #adadad;
}

#submit {
    height: 35px;
    border-radius: 5px;
    width: 45px;
    background-color: var(--color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sendImg {
    --size: 20px;
    height: var(--size);
    width: var(--size);
    transform: rotate(45deg);
    margin-left: -5px;
}
.files_options {
    display: flex;
    flex-direction: column;
    height: 130px;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: fit-content;
    padding: 0px 3px;
    margin-left: 6px;
    transition-duration: 0.5s;
    margin-top: 170px;
    opacity: 0;
}
.container > #form > #addFile:hover ~ .files_options {
    margin-top: -185px;
    opacity: 1;
}

.files_options img {
    --size: 20px;
    height: var(--size);
    width: var(--size);
    padding: 7px;
    border-radius: 50%;
    background-color: var(--color);
}

/* Login form */
header {
    margin-top: 20px;
    font-family: 'Montserrat black';
    font-size: 30px;
    width: 100%;
    font-weight: bolder;
    text-align: left;
    color: var(--color);
    margin-left: 10%;
}

#loginForm {
    height: 200px;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
}

.joinBtn {
    height: 40px;
    width: 90%;
    background: var(--color);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
label {
    font-size: 15px;
    width: 90%;
    text-align: left;
}
#username {
    height: 30px;
    width: 90%;
    border: 1px solid var(--color);
    border-radius: 5px;
    padding: 0px 5px;
}

h2 {
    font-family: 'Montserrat black';
    font-size: 40px;
    width: 100%;
    text-align: left;
    margin-left: 10%;
    color: #555;
}
